* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Mega', sans-serif;
}

body {
    background-image: url("https://wallpapercave.com/wp/wp2757874.gif");
    background-size: cover;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.banner {
    width: 80%;
    height: 50px;
    padding: 25px;
    text-align: center;
    border: solid $textcolor 3px;
}