* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Mega', sans-serif;
}

body {
    background-image: url("https://wallpapercave.com/wp/wp2757874.gif");
    background-size: cover;
}