main {
    width: 70%;
    margin: 15% auto;
    @include flex(column, space-between, center);
    .banner {
        padding-bottom: 25px;
    }
}

h1,
h2 {
    color: $textcolor;
}

ul {
    list-style: none;
    li {
        display: inline-block;
        color: $textcolor;
        font-size: 1.8rem;
        margin: 15px;
        transition: transform ease .4s;
        &:hover {
            cursor: pointer;
            transform: scale(1.4);
        }
    }
}