main {
    width: 70%;
    margin: 15% auto;
    @include flex(column, space-between, center);
    .banner {
        padding-bottom: 25px;
    }
    ul {
        list-style: none;
        li {
            display: inline-block;
            color: $textcolor;
            font-size: 2rem;
            margin: 15px;
            transition: transform ease .4s;
            &:hover {
                cursor: pointer;
                transform: scale(1.4);
            }
        }
    }
}

h1,
h2,
h3,
h4 {
    color: $textcolor;
}